---
extends: default

rules:
  line-length:
    max: 120
    level: warning
  
  indentation:
    spaces: 2
    indent-sequences: true
  
  comments:
    min-spaces-from-content: 1
  
  # Allow duplicate keys (common in Helm templates)
  key-duplicates:
    level: warning
  
  # Don't enforce document start (---)
  document-start: disable
  
  # Allow truthy values (yes/no, on/off)
  truthy:
    allowed-values: ['true', 'false', 'yes', 'no', 'on', 'off']
    check-keys: false

ignore: |
  .git/
  node_modules/
  venv/
